<h1>Types</h1>
<section class="types">
    <% @types.each do |type| %>
      <div class="type">
        <h2><%= type %></h2>
      </div>
    <% end %>
</section>
<%= link_to 'New Type', new_type_path %>