<table>
    <% @types.each_with_index do |type,index| %>
    <% tr_class = (index % 2 == 0) ? 'even' : 'odd' %>
      <tr class=<%= tr_class %>>
        <%= type %>
      </tr>
    <% end %>
</table>
<%= link_to 'New Type', new_type_path %>